{% extends 'site2_instrument/base_site2.html' %}
{% block content %}
{% load static %}
{% include 'site2_instrument/project/header.html' %}
<br><br>
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
        <a href="{% static 'site_2/assets/img/certificate.jpeg' %}" class="glightbox play-btn mb-4"></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>About us </h3>
        
        <p>
           Scienco India Solutions is one of the leading
          independent Supplier & Service (Repair & Calibration) Provider
          of Heating and Cooling & all types of Laboratory Equipment
          and all type of Lab Equipment for Educational Institutions,
          Research & Industries. Our High Quality Research Equipment
          and Apparatus encompass almost all areas of Science
          applications.

          We are reseller of all types of Industrial Instruments as well as
          laboratory instruments, chemicals, Glassware & Electrical
          Instruments.

          We Also Provide AMC & Calibration cum Validation services
          under NABL Approved Laboratory for Laboratory Instruments
          as well as Industrial Instruments.
        </p>
        
          <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">OUR SCOPE OF DEAL FOR INSTRUMENTS 
          
          </a></h4>
          <p class="description">PRESSURE MEASURING INSTRUMENT</p>
        </div>
         <!-- 
        <div class="icon-box">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
            deserunt minus aut eligendi omnis</p>
        </div> -->

      </div>
    </div>

  </div>
</section><!-- End About Section -->
{% endblock content %}